<!doctype html>
<html>
<head>
	<title>Emotion Recognition</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="static/styles/index.css" type="text/css" media="all">
	<script src="static/js/capture.js"></script>
</head>
<body>


<div class="contentarea">

    <div class='textarea'>
        <h1>
            Facial Expression Recognition
        </h1>
    </div>
    
    <div class='funcarea'>        
        <div class="camera">
        <video id="video">Video stream not available.</video>

        </div>

        <div class='button'>
                <button id="startbutton">Estimate</button>
        </div>

        <canvas id="canvas">
        </canvas>

        <div class="output">
            <img id="photo" alt="The screen capture will appear in this box.">
        </div>
    </div>

    <div class="options">
        <div class="camera_usage">
            <form class="option_horizontal" name="file_form" onsubmit="alert('Currently not implemented:(');return false">
                <input type="file" id="file_input"/>
                <input type="submit" value="Upload File" name="submit" id="file_submit" />
            </form>
            <form class="option_horizontal" name="url_form" onsubmit="alert('Currently not implemented:(');return false">
                <input type="text" id="link_input"/>
                <input type="submit" value="Submit URL" name="submit" id="link_submit" />
            </form>
        </div>
        <div class="empty_options"></div>
        <div class="output_options">
            <button class="option_button" id="download_json">Save JSON</button>
            <button class="option_button" id="download_image">Save image</button>
        </div>
    </div>

    <a id="downloadAnchorElem" style="display:none"></a>

</div>
</body>
</html>

