<!doctype html>
<html>
<head>
	<title>Emotion Recognition</title>
	<meta charset='utf-8'>
	<link rel="stylesheet" href="static/styles/index.css" type="text/css" media="all">
	<script src="static/js/capture.js"></script>
</head>
<body>


<div class="contentarea">

    <div class='textarea'>
        <h1>
            Facial Expression Recognition
        </h1>
    </div>
    
    <div class='funcarea'>        
        <div class="camera">
        <video id="video">Video stream not available.</video>

        </div>

        <div class='button'>
                <button id="startbutton">Estimate</button>
        </div>


        <canvas id="canvas">
        </canvas>

        <div class="output">
            <img id="photo" alt="The screen capture will appear in this box.">
        </div>
    </div>
</div>
</body>
</html>

