#video {
    width: 640px;
    height: 480px;
}

#photo {
    border: 1px solid white;
    width: 640px;
    height: 480px;
}

#canvas {
    display: none;
}

.input_area {
    width: 640px;
    height: 480px;
    display: flex;
    border: 1px solid white;
}


.button {
    width: 150px;
    height: 480px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.output {
    width: 640px;
    height: 480px;
    display: inline-block;
    border: 1px solid white;
}

#estimate_button {
    color: white;
    border: 1px solid white;
    position: relative;
    background-color: black;
    font-size: 25px;
    font-family: "Ubuntu Mono";
}

body {
    background-color: black;
}

.contentarea {
    width: 100%;
    color: white;
    display: block;
    justify-content: center;
    font-size: 16px;
    font-family: "Ubuntu Mono";
}

.title {
    position: relative;
    top: 50px;
}

.textarea {
    text-align: center;
    height: 150px;
}

.funcarea {
    width: 100%;
    color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: "Ubuntu Mono";
}

.options {
    width: 100%;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    background: black;
    border 1px solid white;
}

.camera_usage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 640px;
}

.output_options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 640px;
}

.empty_options {
    width: 150px;
}

.option_button {
    color: white;
    background-color: black;
    font-family: "Ubuntu Mono";
    font-size: 25px;
    width: 180px;
}

input {
    color: white;
    background-color: black;
    margin: 5px;
    font-family: "Ubuntu Mono";
    font-size: 25px;
}

#file_form {
    position: absolute;
    top: 100px;
    left: 380px;
}

#link_form {
    position: absolute;
    top: 100px;
    left: 430px;
}

.radio_label {
    font-family: "Ubuntu Mono";
    font-size: 25px;
    margin: 10px;
}